<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Forgot password</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div th:insert="~{fragments/navbar :: topbar}"></div>

<div class="box">
    <h1>Reset password</h1>

    <div class="alert alert-ok" th:if="${param.sent}">
        If the email exists, a reset link was sent.
    </div>

    <form th:action="@{/auth/password/forgot}" method="post" class="form">
        <div class="row">
            <input class="input" name="email" placeholder="Email" required/>
        </div>
        <br>
        <button class="btn btn-primary btn-wide" type="submit">Send reset link</button>
    </form>
</div>

</body>
</html>