<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
    <link rel="icon" type="image/svg+xml" th:href="@{/favicon.svg}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <script th:src="@{/js/scripts.js}"></script>
</head>
<body>
<div th:insert="~{fragments/navbar :: topbar}"></div>
<div class="box">
    <h1 th:text="#{page.login.heading}">Login</h1>
    <div class="alert alert-err" th:if="${param.blocked}">
        <span th:text="#{page.login.error.blockedAccount}">Account is blocked</span>
    </div>
    <div class="alert alert-err" th:if="${param.error}">
        <span th:text="#{page.login.error.invalidCredentials}">Invalid credentials</span>
    </div>

    <form th:action="@{/auth/login}" method="post" class="form">
        <!-- <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/> -->

        <div class="row">
            <input class="input" name="email" th:placeholder="#{field.email}" placeholder="Email"/>
        </div>

        <br>
        <div class="row">
            <div class="pwd-wrap">
                <input class="input pwd-input"
                       name="password"
                       type="password"
                       th:placeholder="#{field.password}"
                       placeholder="Password"/>

                <button class="pwd-toggle"
                        type="button"
                        aria-label="Show password"
                        data-target="password">
                    👁
                </button>
            </div>
        </div>
        <br>

        <button class="btn btn-primary btn-wide" type="submit" th:text="#{action.login}">Login</button>
    </form>

    <div class="muted" style="margin-top:15px;text-align:center;">
        <a class="link" th:href="@{/auth/register}" th:text="#{page.login.noAccount.register}">
            Have no account? Register
        </a>
    </div>
</div>
</body>
</html>