<!DOCTYPE html><html xmlns:th="http://www.thymeleaf.org"><body>
<div th:replace="fragments/navbar :: navbar"></div>
<form method="post" th:action="@{/auth/register}" th:object="${request}">
<select th:field="*{role}"><option value="CUSTOMER">CUSTOMER</option><option value="EMPLOYEE">EMPLOYEE</option></select>
<input type="email" th:field="*{email}"/>
<input th:field="*{name}"/>
<input th:field="*{phone}"/>
<input type="date" th:field="*{birthDate}"/>
<input type="password" th:field="*{password}"/>
<input type="password" th:field="*{confirmPassword}"/>
<button type="submit">Register</button>
</form>
</body></html>
