<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:replace="layout :: content">
    <h1>All Orders (Admin)</h1>

    <div th:each="o : ${orders.content}">
        <div>
            <b>#</b><span th:text="${o.id}"></span>
            • userId=<span th:text="${o.customer.id}"></span>
            • <span th:text="${o.status}"></span>
            • <span th:text="${o.totalAmount}"></span>
        </div>

        <form th:if="${o.status.name() != 'CANCELED'}" th:action="@{'/admin/orders/' + ${o.id} + '/cancel'}" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <button type="submit">Cancel</button>
        </form>
        <hr/>
    </div>
</div>
</body>
</html>