<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:replace="layout :: content">
    <h1>Users (Admin)</h1>

    <div th:each="u : ${users.content}">
        <div>
            <b>#</b><span th:text="${u.id}"></span>
            • <span th:text="${u.email}"></span>
            • <span th:text="${u.role}"></span>
            • <span th:text="${u.status}"></span>
        </div>

        <form th:if="${u.status.name() != 'BLOCKED'}" th:action="@{'/admin/users/' + ${u.id} + '/block'}" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <button type="submit">Block</button>
        </form>

        <hr/>
    </div>
</div>
</body>
</html>