<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<nav th:fragment="navbar">
    <a th:href="@{/(lang='en')}">EN</a> | <a th:href="@{/(lang='uk')}">UA</a>
    <a th:href="@{/}">[[#{app.title}]]</a>

    <span sec:authorize="hasRole('CUSTOMER')">
      <a th:href="@{/clients/recharge}">[[#{menu.balance}]]</a>
      <a th:href="@{/orders/my}">[[#{menu.orders}]]</a>
      <a th:href="@{/cart}">[[#{menu.cart}]]</a>
    </span>

    <span sec:authorize="hasRole('EMPLOYEE')">
      <a th:href="@{/employee/orders}">[[#{menu.manageOrders}]]</a>
      <a th:href="@{/employee/books}">[[#{menu.manageBooks}]]</a>
      <a th:href="@{/employee/clients}">[[#{menu.manageClients}]]</a>
    </span>

    <span sec:authorize="isAuthenticated()">
      <a sec:authorize="hasRole('CUSTOMER')" th:href="@{/clients/profile}">Profile</a>
      <a sec:authorize="hasRole('EMPLOYEE')" th:href="@{/employee/profile}">Profile</a>
      <a th:href="@{/auth/logout}">Logout</a>
    </span>
    <span sec:authorize="!isAuthenticated()">
      <a th:href="@{/auth/login}">Login</a>
      <a th:href="@{/auth/register}">Register</a>
    </span>
</nav>
</body>
</html>
