<!DOCTYPE html><html xmlns:th="http://www.thymeleaf.org"><body>
<div th:replace="fragments/navbar :: navbar"></div>
<a th:href="@{/cart/clear}">[[#{button.clear}]]</a>
<table>
<tr><th>Title</th><th>Qty</th><th>Unit</th><th>Total</th><th></th></tr>
<tr th:each="i:${cart.items}">
<td th:text="${i.title}"></td>
<td><a th:href="@{'/cart/minus/' + ${i.bookId}}">-</a> <span th:text="${i.quantity}"></span> <a th:href="@{'/cart/add/' + ${i.bookId}}">+</a></td>
<td th:text="${i.unitPrice}"></td><td th:text="${i.lineTotal}"></td>
<td><a th:href="@{'/cart/remove/' + ${i.bookId}}">x</a></td>
</tr>
</table>
<p>Total: <span th:text="${cart.total}"></span></p>
<a th:href="@{/orders/checkout}">[[#{button.checkout}]]</a>
</body></html>
